[Unit]
Description=Hifiberry Bluetooth
After=bluetooth.service

[Service]
ExecStart=/usr/bin/hifiberry-bluetooth
Restart=always
User=root

[Install]
WantedBy=multi-user.target
